* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

body {
    margin: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    background-color: #f0f0f0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.sobre {
    width: 350px;
    height: 150px;
    background-color: red;
    border-radius: 10px 10px 0 0;
    position: relative;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-image: url('sources/depositphotos_87353986-stock-illustration-christmas-wrapping-paper.jpg');
    background-size: contain;
    flex-direction: column;
}

.carta {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(290px);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    max-width: 400px;
    text-align: center;
    background-color: white;
    transition: transform 1.5s ease;
}
audio{
    /* width: 200px; */
    align-self: center;
    opacity: 0.7;
}

#pin:checked + .carta {
    transform: translate(-50%, -50%) translateY(-50px);
}
#pin{
    visibility: hidden;
}
.pin {
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}
